.todo-list-container {
    list-style: none;
    padding: 0;
}

.todo-list-container li {
    margin-bottom: 10px;
    padding: 10px;
    color: #007bff;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}